* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    text-align: center;
    margin: 10px;
}

.party {
    margin: 50px;
}
